.btn{
  &,
	&:link,
	&:visited{
    padding: 1.6rem 4.9rem;
    background-color: $color-secondary;
    border: none;
    font-family: 'Raleway';
    font-size: 1.4rem;
    color: #fff;
    transition: all .3s;
    cursor: pointer;
  }

  &:hover{
    -webkit-box-shadow: 4px 4px 19px 5px rgba(0,0,0,0.31); 
    box-shadow: 4px 4px 19px 5px rgba(0,0,0,0.31);
  }
}