.card{
  // width: 47%;
  // padding: 0 1.5rem;
  transition: all .3s;
  &:hover{
    -webkit-box-shadow: 4px 4px 19px 5px rgba(0,0,0,0.31); 
    box-shadow: 4px 4px 19px 5px rgba(0,0,0,0.1);
  }

  &__img{
    width: 100%;
    display: flex;

    & img{

    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-size: 1.4rem ;
    color: $color-primary;
    padding: 3rem;

  }
  &__title{
    margin-bottom: 1.5rem;
    position: relative;
    cursor: pointer;

    &::after{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      margin: .7rem 0 .7rem 1.5rem;
      border: .5rem solid transparent;
      border-left: .5rem solid;
    }
  }
  &__rout{
    
  }

  &__cost{
    font-size: 3rem;
    font-family: 'Roboto Slab';
    margin-top: 2rem;
  }
}