*{margin: 0;padding: 0; }
html{
  font-size: 62.5%;
}

body{
  box-sizing: border-box;

  // -webkit-touch-callout: none; /* iOS Safari */
  //   -webkit-user-select: none; /* Safari */
  //    -khtml-user-select: none; /* Konqueror HTML */
  //      -moz-user-select: none; /* Firefox */
  //       -ms-user-select: none; /* Internet Explorer/Edge */
  //           user-select: none;
}
