.heading-primary{
  color: $color-primary;
  font-family: "Roboto Slab";
  font-weight: 400;
  &__main{
    display: block;
    font-size: 3.6rem;

    @include respond(tab-land) {
      font-size: 2.8rem;
    }
  }

  &__sub{
    display: block;
    text-transform: uppercase;
    font-size: 9rem;
    letter-spacing: -2.5px;

    @include respond(tab-land) {
      font-size: 7.5rem;
    }
  }
}

.heading-secondary{
  color: $color-primary;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 3.6rem;
  letter-spacing: 1.3px;

  @include respond(tab-land) {
    font-size: 2.6rem;
  }
}
.heading-tertiary{
  color: $color-secondary;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 1.8rem;

}
.sort-cost{
  font-size: 1.4rem;
  color: $color-primary;
  position: relative;
  letter-spacing: .7px;

  &::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .5rem .5rem 0em .5rem;
    border-color: $color-primary transparent transparent transparent;
    position: absolute;
    margin: .7rem 0 .7rem 1rem;
  }
}