footer.footer
  ul.footer__menu
    li
      a(href="#" class="footer__menu-item") Вход для партнеров
    li
      a(href="#" class="footer__menu-item") О компании
    li
      a(href="#" class="footer__menu-item") Контакты
  .footer__social Будь на связи
    .footer__social-icons
      img(src='../img/icons/vk.png')
      img(src='../img/icons/ok.png')
      img(src='../img/icons/yutb.png')
      img(src='../img/icons/inst.png')
    
  .footer__contacts
    +phone('')