doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Cruize
    include assets/_metas
    include assets/_links
  body
    include ../components/header/header
    main
      section.catalog-section
        .cruize-catalog.u-center-text
          h2.heading-secondary Каталог круизов
          span.sort-cost Сортировать круизы по <i>цене</i>
        .card-wrap
          include ../components/card/card
          .first
            +card('card-1.png', 'Морской круиз в Анапу', ' Сочи-Лазаревское-Геленджик-Анапа', '10ч 0мин', '49 000руб.')
          .second.hide-in-tab
            +card('card-2.png', 'Обзорная морская прогулка с экскурсией', 'Сочи-Адлер-Сочи (без высадки)', '1 ч.', '5 000руб.')
          .second.show-in-tab 
            +card('card-2-tab.png', 'Обзорная морская прогулка с экскурсией', 'Сочи-Адлер-Сочи (без высадки)', '1 ч.', '5 000руб.')
          .third.hide-in-tab
            +card('card-3.png', 'Морская прогулка в Геленджик', 'Сочи-Туапсе-Геленджик ', '12 ч. 30 мин.', '7 000руб.')
          .third.show-in-tab
            +card('card-3-tab.png', 'Морская прогулка в Геленджик', 'Сочи-Туапсе-Геленджик ', '12 ч. 30 мин.', '7 000руб.')
          .four.hide-in-tab
            +card('card-4.png', 'Морской круиз в Новороссийск', 'Сочи-Геленджик-Новороссйиск-Геленджик-Сочи', '13ч 0мин', '14 800руб.')
          .four.show-in-tab
            +card('card-4-tab.png', 'Морской круиз в Новороссийск', 'Сочи-Геленджик-Новороссйиск-Геленджик-Сочи', '13ч 0мин', '14 800руб.')
          .five.hide-in-tab
            +card('card-5.png', 'Морская прогулка в Абрау-Дюрсо', 'Сочи-Абрау-Дюрсо', '11 ч. 0 мин.', '14 800руб.')
        .show-more-btn
          +button('Больше круизов', '')
    include ../components/footer/footer