mixin phone(copyright)
  .phone
    span.phone__num 8 800 500-61-05 
    span.phone__context Круглосуточная поддержка
    if (copyright != undefined)
      span.phone__copyright &copy; 2016 OOO «Городские Круизы»
