.catalog-section{
  background-color: $color-bg;
  padding: 0 25rem;
  font-family: 'Raleway', sans-serif;
  
}

.cruize-catalog{
  padding-top: 14rem;
}

.card-wrap{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "first second" "first third" "four five";
  grid-gap: 3rem;
  margin-top: 4rem;
}
.first { grid-area: first; }

.second { grid-area: second; }

.third { grid-area: third; }

.four { grid-area: four; }

.five { grid-area: five; }